*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: rgba(5, 0, 40, 1);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 62px;
    width: 100%;
    height: 100%;
}

.logo span{
    display: flex;
    align-items: center;
}

.logo{
    width: 10%;
    display: flex;
}

.warsty-logo{
    width: 30%;
}

.nav-btn{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.nav-btn p{
    font-size: 22px;
}

.sign-in{
    display: flex;
}

.btn-design{
    padding: 5px 30px;
    border: 2px solid white;
    color: white;   
    font-size: 22px;

}

.front-page{
    padding: 62px;
    display: flex;
    justify-content: space-between;
}

.text-part {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px   ;
}

.text-part p{
    font-size: 22px;
}

.img-part{
    width: 45%;
    height: auto;
    display: flex;
}

.img-part img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-part h1{
    font-size: 80px;
    font-weight: 500;
}

.text-part span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explore-text{
    font-size: 22px;
}