*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: ;
}

.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.main{
    width: 440px;
    background-color: white;
    box-shadow: 0 2px 6px #00000033;
    padding: 44px;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    min-height: 338px;
    margin-bottom: 20px;
}

.main img{
    align-self: flex-start;
    height: 24px;
    width: auto;
    display: block;
    /* margin-bottom: 20px; */
}

form{
    /* padding: 10px 0;  */
    margin-bottom: 16px;
    /* flex-direction: column; */
}

input {

    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    border-color: #0067B8;
    outline: none;
    padding: 10px 0;
    font-family: inherit;
    font-size: 15px;
    color: inherit;
}

input:focus{
    border-bottom: 1px solid #00000099;
}


label{
    font-size: 13px;
    color: #1b1b1b;
    margin-bottom: 16px;    
}

span{
    color: #0067B8;
}

span:hover{
    color: #666666;
    text-decoration: underline;
}

.btn-group{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 10px;
}

.next-btn{
    display: block;
    padding: 4px 12px 4px 12px;
    /* position: relative; */
    max-width: 100%;
    text-align: center;
    color: #fff;
    background-color: #0067B8;
    font-family: inherit;
    font-size: 15px;
    border: none;
    border-color: #0067B8;
    border-style: solid;
    min-width: 108px;
    /* margin-top: 0;
    margin-bottom: 0; */
}

.back-btn{
    display: block;
    padding: 4px 12px 4px 12px;
    max-width: 100%;
    text-align: center;
    color: #000;
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    font-family: inherit;
    font-size: 14px;
    border: none;
    border-color: transparent;
    border-style: solid;
    min-width: 108px;

}

h2{
    font-size: 24px;
    color: #1b1b1b;
    margin-top: 16px;
    margin-bottom: 12px;
}

.sign-in-options{
    width: 440px;                 
    background-color: white;
    padding: 9px 19px;
    display: flex;                
    align-items: center;
    box-shadow: 0 2px 6px #00000033;
}

p {
    font-size: 15px;
    color: #1b1b1b;
}

.sign-in-options img{
    margin-right: 10px;
    margin-left: 20px;
    width: 32px;
    height: 32px;
}